<div class="grid_15"><h1>Select Pivotal Project</h1></div>
<% @projects.each do |project| %>
<div class="prefix_1 grid_5"><h2> <%= "#{project.name} (#{project.id})" %></h2></div>
<div class="clear"></div>
<% end %>
    
