<h1>Tracker Poker</h1>
<p>Tracker Poker is a way to play planning poker with remote teams.</p>
<p>This is being developed as a joint effort between the Emerald City Programming Class and
The MobileCity Programming Class.</p>
<p> If there anre any questions please use the <%= link_to "contact us", contact_path %> page</p>  